Django >= 1.11.13, <2   # *** Django2 bug in Py3: 'Options' object has no attribute 'virtual_fields' ***

Django-AutoComplete-Light >= 3.2.10
Django-Generic-M2M >= 0.3.1
Django-GM2M >= 0.6
Django-QuerySetSequence >= 0.8
Django-Tagging >= 0.4.6
Django-Taggit >= 0.22.2

Django-Debug-Toolbar >= 1.9.1
Django-Grappelli >= 2.11.1

Django-Extensions >= 1.9.9, < 2

Django-Nested-InLines >= 0.1

SQLAlchemy >= 1.2.8
Alembic >= 0.9.9
SQLAlchemy-Migrate >= 0.11.0

PsycoPG2-binary >= 2.7.4

AWSEBCLI >= 3.14.1

AWSCLI >= 1.14.51
Boto3 >= 1.6.4

PyYAML >= 3.12
Ruamel.YAML >= 0.15.37

Tornado == 4.5.1   # *** later ver breaks Jupyter (SSL err) ***
