container_commands:
  000_migrate:
    command: "python manage.py migrate"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: arimo.IoT.DataAdmin._project.settings

  aws:elasticbeanstalk:container:python:
    WSGIPath: arimo/IoT/DataAdmin/_project/wsgi.py

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: arimo/IoT/DataAdmin/static/

  aws:ec2:vpc:
    VPCId: vpc-1d4a3a7b
    Subnets: subnet-1b240436
    ELBSubnets: subnet-1b240436

packages:
  yum:
    postgresql95-devel: []
