container_commands:
  000_migrate:
    command: "python manage.py migrate"
    leader_only: true

  001_wsgi_pass_authorization_on:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: arimo.IoT.DataAdmin._django_root.settings

  aws:elasticbeanstalk:container:python:
    WSGIPath: arimo/IoT/DataAdmin/_django_root/wsgi.py

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: arimo/IoT/DataAdmin/_static_files/

packages:
  yum:
    postgresql95-devel: []
